# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Environment files
.env
.env.backup
.env.production
.db_encription

# IDE / Editor configs
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/.cursor
.phpactor.json

# PHPUnit
.phpunit.result.cache

# Composer auth
/auth.json

# Node / vendor / build folders
/node_modules
/vendor
/public/build
/public/storage
/storage/*.key
/storage/app
/storage/framework
/storage/logs

# Homestead configs
Homestead.json
Homestead.yaml
/skeleton-todo-list.md

**/caddy
frankenphp
frankenphp-worker.php
