includes:
    - vendor/larastan/larastan/extension.neon
	- phpstan-stubs/JWTGuard.stub

parameters:
    paths:
        - app/
        - Modules/
    level: 5
    tips:
        treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Trait App\\Traits\\HasImages is used zero times#'
        - '#Trait App\\Traits\\UploadFile is used zero times#'
